.login-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 0.15fr 1fr;
  background-color: #fafafa;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.login-container > h2 {
  color: #16a085;
  margin-bottom: 0px;
}

.login-form {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  grid-gap: 4px;
}

.login-form > button {
  width: 50%;
  justify-self: center;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .login-container {
    min-height: 300px;
    width: 600px;
  }
}
