html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f9;
  /* background: linear-gradient(
    45deg,
    #f4f4f9 0%,
    rgba(88, 111, 124, .25) 100%
  ); */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"],
input[type="password"] {
  width: 180px;
  height: 35px;
}

button,
input,
textarea {
  background-color: #ecf0f1;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 18px;
}

button {
  padding: 8px;
  color: #ecf0f1;
  background-color: #586f7c;
}

button:hover {
  cursor: pointer;
  background-color: #2f4550;
}

a {
  text-decoration: none;
  padding: 10px;
  color: #586f7c;
  border-radius: 4px;
  text-align: center;
}

a:hover {
  cursor: pointer;
  color: #2f4550;
  background-color: #f4f4f9;
}

.active-nav {
  background-color: #f4f4f9;
  font-weight: bold;
}

.button-full {
  width: 100%;
}

.button-half {
  width: 50%;
}

.button-quarter {
  width: 25%;
}

.button-eighth {
  width: 12.5%;
}

.form-ing-inst-grid {
  display: grid;
  grid-template-columns: .05fr 1fr;
  grid-gap: 2px;
  align-items: flex-end;
}

.form-ing-inst-grid span {
  font-size: 32px;
  color: #586f7c;
}

.form-minus-button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.form-plus-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

textarea {
  width: 100%;
  resize: none;
}

.menu-bar-wrapper {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.menu-bar-header {
  margin: 0;
  font-size: 32px;
  color: #16a085;
}

.site-icon {
  font-size: 32px;
}

.nav-wrapper {
  justify-self: end;
}

.login,
.nav {
  display: grid;
  align-items: center;
  grid-gap: 4px;
}

.login {
  grid-auto-flow: row;
}

.nav {
  grid-auto-flow: column;
}
.user-menu {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 4px;
  align-items: center;
  justify-content: center;
}
/** MAIN **/

.main-wrapper {
  padding: 8px;
}

.main-container {
  display: grid;
  width: 100%;
  background-color: #fafafa;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.main-container > button {
  width: 120px;
  align-self: flex-end;
}

.recipe-rows-container {
  display: grid;
  grid-auto-flow: row;
}

.recipe-row {
  padding: 8px;
  border-bottom: 1px solid #ecf0f1;
}

.recipe-row:hover {
  cursor: pointer;
  background: #ecf0f1;
}

.recipe-instruction-item {
  font-size: 24px;
}

.recipe-instruction-item span {
  font-size: 14px;
  font-weight: normal;
}

.content-section {
  padding: 8px;
}

.content-section h1 {
  margin: 0px;
  font-style: italic;
  color: #586f7c;
}

.content-section-top {
  display: grid;
  grid-auto-flow: column;
}

.content-section-top button {
  justify-self: end;
}

.content-section hr {
  border: 0.25px solid #586f7c;
  color: transparent;
  background: transparent;
}

.content-section h3 {
  margin-bottom: 0px;
  color: #586f7c;
}

.content-section ol,
.content-section ul {
  margin-top: 2px;
}

.grid-form-row {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 8px;
}

.profile-wrapper {
  display: grid;
  grid-gap: 4px;
  grid-auto-flow: row;
}

@media screen and (min-width: 768px) {
  .login-container {
    min-height: 300px;
    width: 600px;
  }

  .menu-bar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    background-color: #fafafa;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    padding: 8px 64px;
  }

  .main-wrapper {
    margin: 84px auto;
    width: 75%;
  }

  .grid-form-row {
    width: 50%;
  }

  .user-menu,
  .login {
    grid-auto-flow: column;
    justify-self: end;
  }
}

@media screen and (min-width: 1024px) {
  .main-wrapper {
    width: 50%;
  }
}
